<h1>Spieltag Woche <%= @week %></h1>

<table>
	<thead>
			<tr>
				<th>Hometeam</th>
				<th>Awayteam</th>
				<th>Real Result</th>
			</tr>
	</thead>

	<tbody>
		<% @matches.each do |match| %>
			<tr>

			</tr>
		<% end %>
	</tbody>
</table>
